#!/bin/sh 
# distcc package configuration script

set -e

conffile="/etc/default/distcc"

get_config_file()
{
	config_field=$1
	db_field=$2
	
	if [ -f "$conffile" ] ; then
   		VALUE="$(grep "^[ ]*$config_field" $conffile | sed -e "s/^$config_field *= *\"\(.*\)\"/\1/g")" 
		if [ -n "$VALUE" ] ; then
			db_set $db_field "$VALUE"
		fi
	fi		
}

# Source debconf library -- we have a Depends line
# to make sure it is there...
. /usr/share/debconf/confmodule
db_version 2.0

case "$1" in
    configure|reconfigure)
        get_config_file STARTDISTCC distcc/daemon
        db_input medium distcc/daemon || true
        db_go

	db_get distcc/daemon
	if [ "$RET" = "true" ]; then
		get_config_file ALLOWEDNETS distcc/daemon-allow
		db_input medium distcc/daemon-allow || true
		db_go

		get_config_file LISTENER distcc/daemon-listen
		db_input medium distcc/daemon-listen || true
		db_go

		get_config_file NICE distcc/daemon-nice
		db_input medium distcc/daemon-nice || true
		db_go

		get_config_file JOBS distcc/daemon-jobs
		db_input medium distcc/daemon-jobs || true
		db_go

		get_config_file ZEROCONF distcc/daemon-zeroconf
		db_input medium distcc/daemon-zeroconf || true
		db_go
	fi
        ;;
    *)
        ;;
esac

#DEBHELPER#

exit 0
